.flex-row {
    display: flex;
    flex-direction: row;
}

.first-segment {
    margin-top: 2em;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
}

.profile-pic {
    width:100%;
    height:100%;
    border-radius: 50%;
}

.company-logo {
    margin-right: 12px;
}

.company-logo-container {
    display: flex;
    align-items: center;
    height: 4em;
    width: 4em;
}

.logo {
    width:100%;
    height:100%;
    border-radius: 50%;
}

.text-segment {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-title {
    margin-top: 2rem;
    align-self: center;
}

.experience-list {
    margin-top: 2em;
}

.job-item-segment {
    display: flex;
    flex-direction: row;
}

.job-item {
    display:flex;
}

.job-title {
    margin-bottom: 4px;
}

.job-description {
    margin-top: 8px;
}

.exp-logo, .basic-logo {
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.basic-logo {
    margin: auto 0 auto auto;
}

.exp-logo {
    margin: 0 0 auto auto;
}

.logo-container {
    height: 1em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-logo:hover, .basic-logo:hover {
    background-color: rgba(0,0,0,0.08);
    transition: 0.3s;
}

.add-icon  {
    margin: auto !important;
    color: #000;
}

.divide {
    margin-top: 1em;
}

.edit-button-container {
    margin-left: auto;
    padding: 8px;
    border-radius: 50%;
}

.offline-display {
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.red-border {
    border: 2px solid #ff7675;
}

.green-border {
    border: 2px solid #00b894;  
}

.offline-msg {
    text-align: center;
    margin-bottom: 16px;
}

.offline-button {
    margin: 0 auto !important;
}
