.form-container{
    margin: 5% 20%;
    width: 60%;
}

.basic-header {
    display: flex;
    justify-content: space-between;
    
}

.closed {
    padding: 8px;
    border-radius: 50%;
}

.closed:hover {
    background-color: rgba(0,0,0,0.08);
    transition: 0.3s;padding: 4px;
}

.close-icon {
    margin: auto !important;
    color: #000;
}

.form-error {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    color: #e74c3c;
}

.form-input {
    margin-bottom: 4px !important;
}

.edit-icon {
    font-size: 18px !important;
    margin: auto !important;
}

.button-container {
    display: flex;
    justify-content: center;
}

.text-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px !important;
}

.logo-container {
    height: 1em;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable-img-upload {
    margin-bottom: 16px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .form-container{
        margin: 5% 10%;
        width: 80%;
    }
    .basic-header {
        font-size: 16px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-container{
        margin: 5% 0%;
        width: 100%;
    }
}
