.dropzone-container {
    margin:auto;
}

.dropzone {
    cursor: pointer;
    padding: 48px;
    border: 1px dashed rgba(0, 0, 0, .5);
    display: flex;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px !important;
}

.image-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-wrapper {
    width: 144px;
    height: 144px;
}

.profile-image {
    width: 100% !important;
    height: 100% !important;
}

.button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.upload-error {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    color: #e74c3c;
}

.image-preview {
    display: block;
    color: rgba(0,0,0,.87);
    font-weight: 700;
    text-transform: none;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1026px) {
    .image-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-link {
        margin-bottom: 32px;
    }

    .dropzone-container {
        margin: 0;
    }
}


