.basic-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.closed {
    padding: 4px;
    border-radius: 50%;
}

.closed:hover {
    background-color: rgba(0,0,0,0.08);
    transition: 0.3s;padding: 4px;
}

.close-icon {
    margin: auto !important;
    color: #000;
}

.form-error {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    color: #e74c3c;
}

.form-input {
    margin-bottom: 4px !important;
}

.edit-icon {
    font-size: 18px !important;
    margin: auto !important;
}

.disable-img-upload {
    margin-bottom: 16px;
}

.delete-confirm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.del-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.del-text {
    margin: auto 5% !important;
    width: 90%;
    text-align: center;
}

.del-button-container {
    display: flex;
    justify-content: center;
}