.testclass{
    margin: 5% 15%;
    width: 70%;
}

.basic-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.closed {
    padding: 4px;
    border-radius: 50%;
}

.closed:hover {
    background-color: rgba(0,0,0,0.08);
    transition: 0.3s;padding: 4px;
}

.close-icon {
    margin: auto !important;
    color: #000;
}

.form-error {
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    color: #e74c3c;
}

.form-input {
    margin-bottom: 4px !important;
}

.edit-icon {
    font-size: 18px !important;
    margin: auto !important;
}